[Unit]
After=tao-ce.deliver.backend.service

[Service]
Type=oneshot
ExecStartPre=mkdir -p /mnt/tao-ce/exchange/publications/out
ExecStart=/bin/sh -euc "\
    cd ${TAO_CE_OPT}/deliver/backend ;\
    find \"$TRIGGER_PATH\" -type f | grep -i '[.]zip$' | while read pubfile ; do \
        pubtmpfile=$(mktemp) ;\
        pubfilename=$(basename \"$pubfile\") ;\
        pubid=\"$(echo \"$pubfilename\" | sed 's/[.]zip$//i')\" ;\
        mv \"$pubfile\" \"$pubtmpfile\" ;\
        bin/console publication:run \
            -c '{\"label\": \"'$pubid'\"}' \
            -- \
            \"$pubtmpfile\" 1 \"$pubid\" \
                2>&1 | tee /mnt/tao-ce/exchange/publications/out/\"$pubfilename\".log ;\
        mv \"$pubtmpfile\" /mnt/tao-ce/exchange/publications/out/\"$pubfilename\" ;\
    done;\
    "
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/tao-ce/setup/envs/dir.env
EnvironmentFile=/etc/tao-ce/setup/envs/svc.env
EnvironmentFile=/etc/tao-ce/setup/envs/deliver/backend.env

[Install]
WantedBy=tao-ce.target
