apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  namespace: kube-system
  name: cert-manager
spec:
  targetNamespace: cert-manager
  createNamespace: true
  version: v1.17.0
  chart: cert-manager
  repo: https://charts.jetstack.io
  valuesContent: |-
    crds:
      enabled: true
    config:
      enableGatewayAPI: true
      kind: ControllerConfiguration
      apiVersion: controller.config.cert-manager.io/v1alpha1

# ---
# apiVersion: helm.cattle.io/v1
# kind: HelmChart
# metadata:
#   namespace: kube-system
#   name: trust-manager
# spec:
#   targetNamespace: cert-manager
#   createNamespace: true
#   version: v0.16.0
#   chart: trust-manager
#   repo: https://charts.jetstack.io
#   valuesContent: |-
#     crds:
#       enabled: true
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: local-ca-issuer
  namespace: cert-manager 
spec:
  ca:
    secretName: local-ca-pair
