apiVersion: apps/v1
kind: Deployment
metadata:
  labels: &labels
    tier: be
  name: tao-hierarchy-be
spec:
  selector:
    matchLabels: *labels
  template:
    metadata:
      labels: *labels
    spec:
      containers:
      - image: tao/hierarchy/backend
        resources: {}
        name: backend
        envFrom:
        - secretRef:
            name: tao-hierarchy-be-env
        ports:
        - containerPort: 3001
          protocol: TCP
          name: http
      restartPolicy: Always

---

apiVersion: v1
kind: Service
metadata:
  name: hierarchy-be
  labels: &labels
    tier: be
spec:
  selector: *labels
  ports:
  - port: 3001
    targetPort: 3001
    name: http
