[Unit]
#AssertPathExists=/etc/tao-ce/setup/envs/timers/backend.env

[Service]
Type=simple
ExecStartPre=/bin/sh -c "${TAO_CE_LIBEXEC}/pubsub/provision-pubsub ${TAO_CE_ETC}/setup/pubsub/timers.json"
ExecStart=/bin/sh -c "cd ${TAO_CE_OPT}/timers/backend && /usr/local/libexec/nvm/nvm-exec node dist/index.js"
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/tao-ce/setup/envs/dir.env
EnvironmentFile=/etc/tao-ce/setup/envs/svc.env
EnvironmentFile=/etc/tao-ce/setup/envs/timers/backend.env
Environment=NODE_VERSION=18
Restart=always
RestartSec=5s

[Install]
WantedBy=tao-ce.target