apiVersion: "gateway.networking.k8s.io/v1"
kind: "HTTPRoute"
metadata:
  name: tao-deliver-sandbox
spec:
  parentRefs:
  - name: gateway
    namespace: istio-system
  rules:
  - backendRefs:
    - name: "tao-deliver-sandbox"
      port: 3000
    filters:
    - type: "URLRewrite"
      urlRewrite:
        path:
          replacePrefixMatch: "/"
          type: "ReplacePrefixMatch"
    matches:
    - path:
        type: "PathPrefix"
        value: "/sandbox"