[submodule "apps/devkit/src"]
	path = apps/devkit/src
	url = https://github.com/oat-sa/devkit-lti1p3
[submodule "apps/environment-management/src"]
	path = apps/environment-management/src
	url = git@github.com:tao-ce/environment-management.git
[submodule "apps/deliver/src/be"]
	path = apps/deliver/src/be
	url = git@github.com:tao-ce/tao-deliver-be.git
[submodule "apps/deliver/src/fe"]
	path = apps/deliver/src/fe
	url = git@github.com:tao-ce/tao-deliver-fe.git
[submodule "apps/timers/src"]
	path = apps/timers/src
	url = git@github.com:tao-ce/tao-timers-be.git
[submodule "apps/portal/src"]
	path = apps/portal/src
	url = git@github.com:tao-ce/tao-portal.git
[submodule "apps/proctoring/src"]
	path = apps/proctoring/src
	url = git@github.com:tao-ce/proctoring.git
[submodule "apps/dynamic-query/src"]
	path = apps/dynamic-query/src
	url = git@github.com:tao-ce/tao-dynamic-query-api.git
[submodule "apps/task-orchestrator/src"]
	path = apps/task-orchestrator/src
	url = git@github.com:tao-ce/tao-task-orchestrator.git
[submodule "apps/datastore/src"]
	path = apps/datastore/src
	url = git@github.com:tao-ce/tao-datastore-pipeline.git
[submodule "apps/hierarchy/src"]
	path = apps/hierarchy/src
	url = git@github.com:tao-ce/tao-hierarchy-be.git
[submodule "apps/scoring/src/tao-manual-scoring-be"]
	path = apps/scoring/src/tao-manual-scoring-be
	url = git@github.com:tao-ce/tao-manual-scoring-be.git
[submodule "apps/scoring/src/tao-manual-scoring-fe"]
	path = apps/scoring/src/tao-manual-scoring-fe
	url = git@github.com:tao-ce/tao-manual-scoring-fe.git
[submodule "apps/scoring/src/tao-scoring-service-be"]
	path = apps/scoring/src/tao-scoring-service-be
	url = git@github.com:tao-ce/tao-scoring-service-be.git
[submodule "apps/content-service/src"]
	path = apps/content-service/src
	url = git@github.com:tao-ce/tao-content-service.git
