services:
  tao:
    image: europe-west1-docker.pkg.dev/tao-ce/internal/tao-ce:latest
    ports:
      - 443:443
    cgroup: host
    volumes:
    - .:/workspace:cached
    - /sys/fs/cgroup:/sys/fs/cgroup:rw
    - containers:/home/vscode/.local/share/containers:rw
    - tao-ce-opt:/opt/tao-ce:rw
    - tao-ce-lib:/var/lib/tao-ce:rw
    privileged: true
    links:
    - redis:redis
    - pgsql:pgsql
    - es:es
    - pubsub:pubsub
    - firestore:firestore

include:
- ./docker-compose.stack.yml

volumes:
  tao-ce-opt: {}
  tao-ce-lib: {}
  containers: {}


x-podman:
    in_pod: false