services:

  redis:
    image: docker.io/valkey/valkey:8-alpine
    restart: always
    volumes:
      - redis:/data:rw
    command: ["valkey-server", "--save", "60", "1", "--loglevel", "warning"]
    healthcheck:
      test: valkey-cli ping
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 3s

  pgsql:
    image: docker.io/postgres:17-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - pgsql:/var/lib/postgresql/data:rw
    healthcheck:
      test: pg_isready -q -t 2 -U $$POSTGRES_USER
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 3s

  pubsub:
    image: quay.io/tao-ce/services/pubsub-emulator:latest

  firestore:
    image: quay.io/tao-ce/services/firestore-emulator:latest
    environment:
      PROJECT_ID: demo-tao
  es:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.4
    # TODO HACK healthcheck from tao-ce.portal.init before loading users
    healthcheck:
      test: ["CMD-SHELL", "curl -fs http://es:9200/_cluster/health?wait_for_status=yellow&timeout=5s || exit 1"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s
      start_interval: 30s

    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    environment:
    - node.name=es
    - discovery.type=single-node
    - bootstrap.memory_lock=true
    - "ES_JAVA_OPTS=-Xms128m -Xmx1024m"
    - DISABLE_SECURITY_PLUGIN=true
    - xpack.security.enabled=false
    - xpack.security.transport.ssl.enabled=false
    - xpack.security.http.ssl.enabled=false
    - xpack.watcher.enabled=false
    volumes:
      - es:/usr/share/elasticsearch/data

volumes:
  pgsql: {}
  es: {}
  redis: {}
