services:
  proxy:
    ports:
      - 443:443
    image: alpine/socat
    privileged: true
    links:
      - dev
    command: >
      TCP-LISTEN:443,fork,reuseaddr TCP:dev:443
    restart: no

networks:
  default:
    name: "${COMPOSE_PROJECT_NAME}-net"
