name: tao-ce

include:
- ./docker-compose.stack.yml

services:
  dev:
    build:
      context: .
      additional_contexts:
        src-devcontainer: build/crystal
      target: devcontainer
      args:
        DEVCONTAINER_USERNAME: vscode
    cgroup: host
    extra_hosts:
    - community.tao.internal:0.0.0.0
    tty: true
    volumes:
    - .:/workspace:cached
    # Required for systemd init
    - /sys/fs/cgroup:/sys/fs/cgroup:rw
    # Use native filesystem from volumes rather than tmpfs/overlayfs for building performance
    - vscode-containers:/home/vscode/.local/share/containers:rw
    - root-containers:/var/lib/containers:rw
    # For data persistence
    - tao-ce-opt:/opt/tao-ce:rw
    - tao-ce-lib:/var/lib/tao-ce:rw
    privileged: true
    links:
    - redis:redis
    - pgsql:pgsql
    - es:es
    - pubsub:pubsub
    - firestore:firestore

  proxy:
    ports:
      - 443:443
    image: alpine/socat
    privileged: true
    links:
      - dev
    command: >
      TCP-LISTEN:443,fork,reuseaddr TCP:dev:443
    restart: no

  pubsub-emulator-ui:
    image: ghcr.io/neoscript/pubsub-emulator-ui:2025.02.25
    environment:
      - PUBSUB_EMULATOR_HOST=pubsub.deps.internal:8432

  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.1
    environment:
    - http.tls.selfSignedCertificate.disabled=true
    - ELASTICSEARCH_HOSTS=http://es:9200
    - server.host=es
    - xpack.security.authc.providers.anonymous.anonymous1.order=0
    - xpack.security.authc.providers.anonymous.anonymous1.credentials="elasticsearch_anonymous_user"
    links:
      - es:es

volumes:
  tao-ce-opt: {}
  tao-ce-lib: {}
  vscode-containers: {}
  root-containers: {}

networks:
  default:
    name: "${COMPOSE_PROJECT_NAME}-net"
