
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../all
  - ./host-path.yaml

images:
  - name: quay.io/tao-ce/tao/timers/backend
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/timers/backend
    newTag: latest
  - name: quay.io/tao-ce/tao/devkit/backend
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/devkit/backend
    newTag: latest
  - name: quay.io/tao-ce/tao/environment-management/lti-gateway
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/environment-management/lti-gateway
    newTag: latest
  - name: quay.io/tao-ce/tao/environment-management/auth-server
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/environment-management/auth-server
    newTag: latest
  - name: quay.io/tao-ce/tao/environment-management/sidecar
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/environment-management/sidecar
    newTag: latest
  - name: quay.io/tao-ce/tao/environment-management/envoy
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/environment-management/envoy
    newTag: latest
  - name: quay.io/tao-ce/tao/deliver/bootstrap
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/deliver/bootstrap
    newTag: latest
  - name: quay.io/tao-ce/tao/deliver/static
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/deliver/static
    newTag: latest
  - name: quay.io/tao-ce/tao/deliver/sandbox
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/deliver/sandbox
    newTag: latest
  - name: quay.io/tao-ce/tao/deliver/backend
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/deliver/backend
    newTag: latest
  - name: quay.io/tao-ce/tao/portal/bootstrap
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/portal/bootstrap
    newTag: latest
  - name: quay.io/tao-ce/tao/portal/static
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/portal/static
    newTag: latest
  - name: quay.io/tao-ce/tao/portal/backend
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/portal/backend
    newTag: latest
  - name: quay.io/tao-ce/tao/simple-reports/backend
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/simple-reports/backend
    newTag: latest
  - name: quay.io/tao-ce/tao/scoring/service/be
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/scoring/service/be
    newTag: latest
  - name: quay.io/tao-ce/tao/scoring/manual/be
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/scoring/manual/be
    newTag: latest
  - name: quay.io/tao-ce/tao/scoring/manual/bootstrap
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/scoring/manual/bootstrap
    newTag: latest
  - name: quay.io/tao-ce/tao/scoring/manual/static
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/scoring/manual/static
    newTag: latest
  - name: quay.io/tao-ce/tao/dynamic-query/api
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/dynamic-query/api
    newTag: latest
  - name: quay.io/tao-ce/tao/datastore/worker
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/datastore/worker
    newTag: latest
  - name: quay.io/tao-ce/tao/construct/backend
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/construct/backend
    newTag: latest
  - name: quay.io/tao-ce/tao/construct/frontend
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/construct/frontend
    newTag: latest
  - name: quay.io/tao-ce/tao/task-orchestrator/backend
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/task-orchestrator/backend
    newTag: latest
  - name: quay.io/tao-ce/tao/hierarchy/backend
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/hierarchy/backend
    newTag: latest
  - name: quay.io/tao-ce/tao/setup/controller
    newName: europe-west1-docker.pkg.dev/tao-artefacts/tao-ce-poc/tao/setup/controller
    newTag: latest




replacements:
- source:
    kind: ConfigMap
    name: override-host-path
    fieldPath: data.hostPath
  
  targets:
  - &target
    select:
      group: apps
      kind: StatefulSet
      name: tao-ce-tao
    options:
      create: false
      delimiter: /
      index: 0
    fieldPaths:
    - spec.template.spec.volumes.[name=construct-data].hostPath.path
  - <<: *target
    select:
      group: apps
      kind: StatefulSet
      name: tao-ce-tao-deliver-be
    fieldPaths:
    - spec.template.spec.volumes.[name=deliver-data].hostPath.path
  - <<: *target
    select:
      group: apps
      kind: StatefulSet
      name: tao-ce-tao-simple-reports-be
    fieldPaths:
    - spec.template.spec.volumes.[name=simple-reports-data].hostPath.path
  - <<: *target
    select:
      group: apps
      kind: StatefulSet
      name: tao-ce-tao-scoring-service
    fieldPaths:
    - spec.template.spec.volumes.[name=deliver-data].hostPath.path
