apiVersion: "gateway.networking.k8s.io/v1"
kind: "HTTPRoute"
metadata:
  name: "tao-simple-reports-be"
spec:
  parentRefs:
  - name: gateway
    namespace: istio-system
  rules:
  # - backendRefs:
  #   - name: "tao-simple-reports-be"
  #     port: 9001
  #   matches:
  #   - path:
  #       type: "PathPrefix"
  #       value: "/report"
  #   filters:
  #   - type: "URLRewrite"
  #     urlRewrite:
  #       path:
  #         replacePrefixMatch: "/api/v1/report"
  #         type: "ReplacePrefixMatch"
  - backendRefs:
    - name: "tao-simple-reports-be"
      port: 9001
    matches:
    - path:
        type: "PathPrefix"
        value: "/sr-be"
    filters:
    - type: "URLRewrite"
      urlRewrite:
        path:
          replacePrefixMatch: "/"
          type: "ReplacePrefixMatch"