apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


namePrefix: tao-ce-

resources:
- ./secrets/auth-server-env.yaml
- ./secrets/auth-server-config.yaml
- ./secrets/lti-gateway-env.yaml
- ./secrets/sidecar-env.yaml
- ./deployments/auth-server.yaml
- ./deployments/lti-gateway.yaml
- ./deployments/sidecar.yaml
- ./deployments/envoy.yaml
- ./routes/auth-server.yaml
- ./routes/envoy.yaml

configurations:
  - ./backendRefs.yaml

labels:
- pairs:
    component: em
    app: tao-ce
  includeSelectors: true
  includeTemplates: true

secretGenerator:
- name: auth-server-keys
  files:
  - ./keys/private.pem
  - ./keys/public.pem
- name: envoy-config
  files:
  - ./files/envoy.yaml





