apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: tao
  labels: &labels
    tier: tao
spec:
  selector:
    matchLabels:  *labels
  template:
    metadata:
      labels: *labels
    spec:
      containers:
      - image: tao/construct/backend
        resources: {}
        name: backend
        envFrom: &construct-envFrom
        - secretRef:
            name: tao-ce-setup-tao-env
        volumeMounts: &be-volumes
          - mountPath: /data
            name: construct-data
          - name: construct-config-init
            mountPath: /usr/local/etc/tao/init/construct-seed.json
            subPath: construct-seed.json
      - image: tao/construct/backend
        resources: {}
        name: worker
        command:
        - taoadm
        - worker
        envFrom: *construct-envFrom
        volumeMounts: *be-volumes
      - image: tao/construct/frontend
        resources: {}
        ports:
        - containerPort: 8080
          protocol: TCP
          name: http 
        name: frontend
        env:
          - name: CONSTRUCT_URL_PFX
            value: '/backoffice'
        volumeMounts:
          - name: construct-data
            mountPath: /srv/static/construct/tao/views/locales
            subPath: construct/locales
          - name: construct-config-frontend
            mountPath: /etc/caddy/Caddyfile
            subPath: Caddyfile

      initContainers:
      - image: tao/construct/backend
        resources: {}
        name: setup
        envFrom: *construct-envFrom
        volumeMounts: *be-volumes
        command:
        - /bin/sh
        - -c
        - |
          taoadm install -s
          taoadm update
      
      restartPolicy: Always
      securityContext: {}
      volumes:
        - name: construct-data
          hostPath:
            path: /data/tao/construct
        - name: construct-config-init
          secret:
            secretName: tao-ce-setup-tao-seed
            items:
              - key:  construct-seed.json
                path: construct-seed.json
        - name: construct-config-frontend
          configMap:
            name: tao-config
            items:
              - key: Caddyfile
                path: Caddyfile

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: tao-config
  labels:
    tier: tao
data:
  Caddyfile: |
    :8080 {
      handle_path {$CONSTRUCT_URL_PFX:""}/* {
          @views path */views/*

          handle @views {
                  file_server {
                      root /srv/static/construct/
                  }
              }

          handle {
              rewrite * index.php
              php_fastcgi localhost:{$CONSTRUCT_FPM_PORT:9741} {
                  root {$CONSTRUCT_FPM_PATH:/app/construct}
                  index index.php
              }
          }
      }
      
      log {
          output stdout
      }
    }

---
apiVersion: v1
kind: Service
metadata:
  name: tao
  labels:
    tier: tao
spec:
  selector:
    tier: tao
  ports:
  - port: 8080
    targetPort: 8080
