apiVersion: apps/v1
kind: Deployment
metadata:
  name: tao
  labels: &labels
    tier: tao
spec:
  selector:
    matchLabels:  *labels
  template:
    metadata:
      labels: *labels
    spec:
        
      containers:
      - image: tao/construct/backend
        resources: {}
        name: backend
        envFrom: &construct-envFrom
        - secretRef:
            name: tao-env
        env: &construct-env
        - name: CONSTRUCT_BASE_URL
          value: https://community.tao.internal/backoffice/

        volumeMounts:
          - mountPath: /data
            name: construct-data
          - name: construct-config-init
            mountPath: /usr/local/etc/tao/init/construct-seed.json
            subPath: construct-seed.json
      - image: tao/construct/backend
        resources: {}
        name: worker
        command:
        - taoadm
        - worker
        envFrom: *construct-envFrom
        env: *construct-env
        volumeMounts:
          - mountPath: /data
            name: construct-data
          - name: construct-config-init
            mountPath: /usr/local/etc/tao/init/construct-seed.json
            subPath: construct-seed.json            
      - image: tao/construct/frontend
        resources: {}
        ports:
        - containerPort: 8080
          protocol: TCP
          name: http 
        name: frontend
        env:
          - name: CONSTRUCT_URL_PFX
            value: '/backoffice'
        volumeMounts:
          - name: construct-data
            mountPath: /srv/static/construct/tao/views/locales
            subPath: construct/locales
          - name: construct-config-frontend
            mountPath: /etc/caddy/Caddyfile
            subPath: Caddyfile
      
      restartPolicy: Always
      securityContext: {}
      volumes:
        - name: construct-data
          hostPath:
            path: /data/tao/construct
        - name: construct-config-init
          configMap:
            name: tao-config
            items:
              - key: construct-seed
                path: construct-seed.json
        - name: construct-config-frontend
          configMap:
            name: tao-config
            items:
              - key: Caddyfile
                path: Caddyfile

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: tao-config
  labels:
    tier: tao
data:
  construct-seed: |
    {
      "configuration": {
          "generis": {
              "filesystem": {
                  "class": "oat\\oatbox\\filesystem\\FileSystemService",
                  "options": {
                      "adapters": {
                          "default": {
                              "class": "Local",
                              "options": {
                                  "location": "/app/construct/data"
                              }
                          },
                          "memory": {
                              "class": "League\\Flysystem\\InMemory\\InMemoryFilesystemAdapter"
                          }
                      },
                      "dirs": {
                          "dataStore": "default",
                          "deliveryAssemblyExport": "default",
                          "fileUploadDirectory": "default",
                          "itemDirectory": "default",
                          "log": "default",
                          "ltiKeyChain": "default",
                          "portableElementStorage": "default",
                          "private": "default",
                          "public": "default",
                          "qtiItemImsPci": "default",
                          "qtiItempPci": "default",
                          "sharedTmp": "default",
                          "stateBackup": "default",
                          "taoQtiTest": "default",
                          "taoQtiTestSessionFilesystem": "default",
                          "taskQueueStorage": "default"
                      },
                      "filesPath": "/app/construct/data"
                  },
                  "type": "configurableService"
              },
              "log": {
                  "class": "oat\\oatbox\\log\\LoggerService",
                  "options": {
                      "logger": {
                          "class": "oat\\oatbox\\log\\logger\\TaoLog",
                          "options": {
                              "appenders": [
                                  {
                                      "class": "SingleFileAppender",
                                      "file": "php://stderr",
                                      "format": "%d [%s] [%p] '%m' %f %l",
                                      "prefix": "tao",
                                      "rotation-ratio": 0,
                                      "threshold": 2
                                  }
                              ]
                          }
                      }
                  },
                  "type": "configurableService"
              },
              "persistences": {
                  "cache": {
                      "driver": "phpfile"
                  },
                  "default": {
                      "dbname": "postgres",
                      "driver": "pdo_pgsql",
                      "host": "pgsql",
                      "password": "postgres",
                      "user": "postgres"
                  },
                  "deliveryExecution": {
                      "driver": "phpredis",
                      "host": "redis",
                      "port": 6379
                  },
                  "metricsCache": {
                      "driver": "phpredis",
                      "host": "redis",
                      "port": 6379
                  },
                  "serviceState": {
                      "driver": "phpredis",
                      "host": "redis",
                      "port": 6379
                  },
                  "session": {
                      "driver": "phpredis",
                      "host": "redis",
                      "port": 6379
                  }
              }
          },
          "global": {
              "anonymous_lang": "en-US",
              "import_data": false,
              "instance_name": "tao",
              "lang": "en-US",
              "mode": "production",
              "namespace": "https://communityedition.tao/ontologies/tao.rdf",
              "session_name": "tao",
              "timezone": "Europe/Luxembourg",
              "url": "http://construct.default.svc"
          },
          "tao": {
              "session": {
                  "class": "\\common_session_php_KeyValueSessionHandler",
                  "options": {
                      "persistence": "session"
                  },
                  "type": "configurableService"
              },
              "stateStorage": {
                  "class": "tao_models_classes_service_StateStorage",
                  "options": {
                      "persistence": "serviceState"
                  },
                  "type": "configurableService"
              }
          },
          "taoDeliverConnect": {
              "DeliverTenantService": {
                  "class": "oat\\taoDeliverConnect\\model\\DeliverTenantService",
                  "options": {
                      "tenant_api": {
                          "class": "oat\\taoDeliverConnect\\model\\api\\TenantDriverApiReader",
                          "options": {
                              "OPTION_DRIVER": "oat\\generis\\persistence\\EnvironmentVariableKVDriver"
                          }
                      }
                  },
                  "type": "configurableService"
              }
          },
          "taoDelivery": {
              "execution_service": {
                  "class": "oat\\taoDelivery\\model\\execution\\implementation\\KeyValueService",
                  "options": {
                      "persistence": "deliveryExecution"
                  },
                  "type": "configurableService"
              }
          },
          "taoLti": {
              "LtiProviderService": {
                  "class": "oat\\taoLti\\models\\classes\\LtiProvider\\LtiProviderService",
                  "options": {
                      "ltiProviderListImplementations": [
                          {
                              "class": "oat\\taoDeliverConnect\\model\\TenantLtiProviderRepository",
                              "options": []
                          },
                          {
                              "class": "oat\\taoLti\\models\\classes\\LtiProvider\\RdfLtiProviderRepository",
                              "options": []
                          },
                          {
                              "class": "oat\\taoQtiTestExport\\model\\LtiProvider\\ExportLtiProviderRepository",
                              "options": []
                          }
                      ]
                  },
                  "type": "configurableService"
              },
              "PlatformKeyChainRepository": {
                  "type": "configurableService",
                  "class": "oat\\taoLti\\models\\classes\\Security\\DataAccess\\Repository\\PlatformKeyChainRepository",
                  "options": [
                    {
                      "defaultKeyId": "1_0",
                      "defaultKeyName": "defaultPlatformKeyName",
                      "defaultPublicKeyPath": "/platform/default/public.key",
                      "defaultPrivateKeyPath": "/platform/default/private.key"
                    }
                  ]
              }
            }
      },
      "extensions": [
          "tao",
          "taoCe",
          "taoLti",
          "taoLtiConsumer",
          "taoDeliverConnect",
          "taoBackOffice",
          "taoTaskQueue"
      ],
      "postInstall": [
          {
              "class": "oat\\generis\\scripts\\tools\\ContainerCacheWarmup",
              "params": []
          },
          {
              "class": "oat\\taoTaskQueue\\scripts\\tools\\InitializeQueue",
              "params": [
                  "--broker=rds",
                  "--persistence=default"
              ]
          },
          {
              "class": "oat\\tao\\scripts\\tools\\RegisterFrontendLog"
          },
          {
              "class": "oat\\taoDeliverConnect\\scripts\\install\\SetupTaskQueue",
              "params": []
          },
          {
              "class": "oat\\taoAdvancedSearch\\scripts\\tools\\IndexCreator"
          }
      ],
      "seed": {
          "identifier": "tao"
      },
      "super-user": {
          "email": "admin@localhost",
          "firstname": "Administrator",
          "lastname": "TAOTesting",
          "login": "taoAdmin",
          "password": "TAOce2025"
      }
    }
     

  Caddyfile: |
    :8080 {
      handle_path {$CONSTRUCT_URL_PFX:""}/* {
          @views path */views/*

          handle @views {
                  file_server {
                      root /srv/static/construct/
                  }
              }

          handle {
              rewrite * index.php
              php_fastcgi localhost:{$CONSTRUCT_FPM_PORT:9741} {
                  root {$CONSTRUCT_FPM_PATH:/app/construct}
                  index index.php
              }
          }
      }
      
      log {
          output stdout
      }
    }

---
apiVersion: v1
kind: Service
metadata:
  name: tao
  labels:
    tier: tao
spec:
  selector:
    tier: tao
  ports:
  - port: 8080
    targetPort: 8080
