[Unit]
After=tao-ce.portal.backend.service

[Service]
Type=simple
ExecStart=/bin/sh -c "cd ${TAO_CE_OPT}/portal/backend && exec /usr/local/libexec/nvm/nvm-exec node ./importWorker.js"
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/tao-ce/setup/envs/dir.env
EnvironmentFile=/etc/tao-ce/setup/envs/svc.env
EnvironmentFile=/etc/tao-ce/setup/envs/portal/backend.env
Restart=always
RestartSec=5s

[Install]
WantedBy=tao-ce.target
