[Unit]

[Service]
Type=simple
ExecStart=/bin/sh -c "cd ${TAO_CE_OPT}/portal/bootstrap && exec /usr/local/libexec/nvm/nvm-exec node ./server.js"
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/tao-ce/setup/envs/dir.env
EnvironmentFile=/etc/tao-ce/setup/envs/svc.env
EnvironmentFile=/etc/tao-ce/setup/envs/portal/bootstrap.env
Restart=always
RestartSec=5s

[Install]
WantedBy=tao-ce.target