[Unit]
#AssertPathExists=/etc/tao-ce/setup/envs/portal/backend.env

[Service]
Type=simple
ExecStartPre=/bin/sh -c "${TAO_CE_LIBEXEC}/pubsub/provision-pubsub ${TAO_CE_ETC}/setup/pubsub/portal.json"
ExecStart=/bin/sh -c "cd ${TAO_CE_OPT}/portal/backend && exec /usr/local/libexec/nvm/nvm-exec node ./index.js"
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/tao-ce/setup/envs/dir.env
EnvironmentFile=/etc/tao-ce/setup/envs/svc.env
EnvironmentFile=/etc/tao-ce/setup/envs/portal/backend.env
Restart=always
RestartSec=5s

[Install]
WantedBy=tao-ce.target