apiVersion: apps/v1
kind: Deployment
metadata:
  labels: &labels
    tier: worker
  name: tao-datastore-worker
spec:
  selector:
    matchLabels: *labels
  template:
    metadata:
      labels: *labels
    spec:
      containers:
      - &worker
        image: tao/datastore/worker
        resources: {}
        name: delivery-results
        envFrom:
        - secretRef:
            name: tao-ce-setup-datastore-worker-env
        env:
        - name: ENTITY
          value: DELIVERY_RESULTS
        - name: SUBSCRIPTION_NAME
          value: delivery-results-ds
      - <<: *worker
        name: delivery-executions
        env:
        - name: ENTITY
          value: DELIVERY_EXECUTIONS
        - name: SUBSCRIPTION_NAME
          value: delivery-execution-ds
      - <<: *worker
        name: acs
        env:
        - name: ENTITY
          value: ACS_ACTIONS
        - name: SUBSCRIPTION_NAME
          value: acs-log
      - <<: *worker
        name: assessment
        env:
        - name: ENTITY
          value: ASSESSMENT_ACTIONS
        - name: SUBSCRIPTION_NAME
          value: assessment-log-ds
      - <<: *worker
        name: deliveries
        env:
        - name: ENTITY
          value: DELIVERIES
        - name: SUBSCRIPTION_NAME
          value: deliveries-ds 
      - <<: *worker
        name: manual-delivery-results
        env:
        - name: ENTITY
          value: MANUAL_DELIVERY_RESULTS
        - name: SUBSCRIPTION_NAME
          value: manual-delivery-results-ds
      - <<: *worker
        name: ui-events
        env:
        - name: ENTITY
          value: UI_EVENTS
        - name: SUBSCRIPTION_NAME
          value: ui-events-ds
      - <<: *worker
        name: proctor
        env:
        - name: ENTITY
          value: PROCTOR_ACTIONS
        - name: SUBSCRIPTION_NAME
          value: proctor-action
      - <<: *worker
        name: activity-logs
        env:
        - name: ENTITY
          value: ACTIVITY_LOGS 
        - name: SUBSCRIPTION_NAME
          value: activity-logs-ds
      - <<: *worker
        name: delivery-publication
        env:
        - name: ENTITY
          value: DELIVERY_PUBLICATION 
        - name: SUBSCRIPTION_NAME
          value: publication-datastore-subscription
      - <<: *worker
        name: users
        env:
        - name: ENTITY
          value: USERS
        - name: SUBSCRIPTION_NAME
          value: users-ds

      restartPolicy: Always
