[Unit]
After=tao-ce.construct.backend.service

[Service]
Type=simple
ExecStart=/bin/sh -c "cd ${TAO_CE_OPT}/construct/backend && php index.php 'oat\\taoTaskQueue\\scripts\\tools\\StuckTaskRestart' --queue indexation_queue --whitelist 'oat\\tao\model\\search\\tasks\\UpdateResourceInIndex,oat\\tao\model\\search\\tasks\UpdateClassInIndex,oat\\tao\model\\search\\tasks\\DeleteIndexProperty,oat\\tao\model\\search\\tasks\\RenameIndexProperties,oat\\tao\model\\search\\tasks\\UpdateDataAccessControlInIndex,oat\\tao\\model\\search\\tasks\\AddSearchIndexFromArray,oat\\taoAdvancedSearch\\model\\Resource\\Task\\ResourceMigrationTask,oat\\taoAdvancedSearch\\model\\Metadata\\Task\\MetadataMigrationTask' --age 300"
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/tao-ce/setup/envs/dir.env
EnvironmentFile=/etc/tao-ce/setup/envs/svc.env
EnvironmentFile=/etc/tao-ce/setup/envs/construct/backend.env
Restart=always
RestartSec=5m

[Install]
WantedBy=tao-ce.target