
services:
  build:
    image: moby/buildkit:latest
    privileged: true
    sysctls:
      net.ipv6.conf.all.disable_ipv6: 1
    volumes:
    - .devcontainer/root/etc/buildkit/buildkitd.toml:/etc/buildkit/buildkitd.toml:ro
    - buildkit-run:/var/run/buildkit
    - buildkit-lib:/var/lib/buildkit

  dind:
    image: docker:dind
    privileged: true
    command: ["-G", "wheel"]
    volumes:
    # - .devcontainer/root/etc/docker/daemon.json:/etc/docker/daemon.json:ro
    - dind-run:/var/run/docker
    environment:
      DOCKER_HOST: unix:///var/run/docker/docker.sock
      # DOCKER_TLS_CERTDIR: ''


  registry:
    image: registry:3
    volumes:
    - registry-lib:/var/lib/registry

  dev:
    build:
      dockerfile: Dockerfile
      context: ${DEVCONTAINER_PATH:-.}
      target: devcontainer
    cgroup: private
    # links:
    # - build
    environment:
      BUILDKIT_HOST: unix:///var/run/buildkit/buildkit.sock
      DOCKER_HOST: unix:///var/run/docker/docker.sock
    tmpfs:
    - /sys/fs/cgroup:rw
    - /sys/fs/cgroup/buildkit:rw
    volumes:
    - .:/workspace:cached
    - buildkit-run:/var/run/buildkit
    - dind-run:/var/run/docker
    entrypoint: /sbin/init
    privileged: true # devcontainer is failing to start otherwise

volumes:
  buildkit-run: {}
  buildkit-lib: {}
  registry-lib: {}
  dind-run: {}

networks:
  default:
    # enable_ipv6: false
    name: "${COMPOSE_PROJECT_NAME}-net"
