
services:

  dev:
    build:
      dockerfile: Dockerfile
      context: ${DEVCONTAINER_PATH:-.}
      target: devcontainer
    volumes:
    - .:/workspace:cached
    - k3s-config:/k3s/config:cached
    - k3s-run:/k3s/run
    - k3s-manifests:/k3s/manifests
    - k3s-data:/k3s/data
    - dev-home:/home/vscode
    shm_size: 1gb
    privileged: true
    ipc: host
    extra_hosts:
    - "host.docker.internal:host-gateway"
    dns: &dns
    - 127.0.0.11
    - ${DNS_OVERRIDE_0:-8.8.8.8}
    - ${DNS_OVERRIDE_1:-8.8.4.4}
    environment:
      container: systemd
      K3S_URL: https://k8s:6443
      CONTAINERD_ADDRESS: /k3s/run/containerd/containerd.sock
      # CONTAINERD_ADDRESS: unix:///k3s/run/containerd/containerd.sock
      BUILDKIT_HOST: tcp://k8s:12345
      CONTAINERD_NAMESPACE: k8s.io
      COMPOSE_PROJECT_NAME: ${COMPOSE_PROJECT_NAME}
      K3S_KUBECONFIG_OUTPUT: /k3s/config/config
      K3S_MANIFESTS: /k3s/manifests
    depends_on:
      - k8s

  k8s:
    build:
      context: ${DEVCONTAINER_PATH:-.}
      dockerfile: k3s.Dockerfile
    entrypoint: /opt/k3s/entrypoint.sh
    command: server
    dns: *dns
    tmpfs:
    - /run
    - /var/run
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
    sysctls:
      "net.ipv4.ip_unprivileged_port_start": 0
    privileged: true
    restart: always
    environment:
      K3S_KUBECONFIG_OUTPUT: /kube/config
      K3S_KUBECONFIG_MODE: 666
      K3S_NODE_NAME: k8s
      K3S_CONFIG_FILE: /opt/k3s/conf/cluster.yaml
    volumes:
    - k3s-var:/var/lib/rancher/k3s
    - k3s-run:/run/k3s
    - k3s-buildkit:/var/lib/buildkit:z
    - k3s-config:/kube
    - k3s-manifests:/var/lib/rancher/k3s/server/manifests/devcontainer:ro
    - k3s-data:/data
    - ${DEVCONTAINER_PATH:-.}/k3s:/opt/k3s:ro

volumes:
  k3s-buildkit: {}
  k3s-run: {}
  k3s-var: {}
  k3s-config: {}
  k3s-manifests: {}
  k3s-data: {}
  dev-home: {}
    
networks:
  default:
    name: "${COMPOSE_PROJECT_NAME}-net"
