
services:

  dev:
    build:
      dockerfile: Dockerfile
      context: ${DEVCONTAINER_PATH:-.}
      target: devcontainer
    volumes:
    - .:/workspace:cached
    - ./.data/kube:/home/vscode/.kube-remote:cached
    - run-k3s:/run/k3s
    shm_size: 1gb
    # init: true
    privileged: true
    ipc: host
    extra_hosts:
    - "host.docker.internal:host-gateway"
    dns:
    - 127.0.0.11
    - 8.8.8.8
    - 8.8.4.4
    environment:
      container: systemd
      K3S_URL: https://k8s:6443
      CONTAINERD_ADDRESS: unix:///run/k3s/containerd/containerd.sock
      BUILDKIT_HOST: tcp://k8s:12345
      CONTAINERD_NAMESPACE: k8s.io
      COMPOSE_PROJECT_NAME: ${COMPOSE_PROJECT_NAME}
      K3S_KUBECONFIG_OUTPUT: /home/vscode/.kube-remote/config
    depends_on:
      - k8s

  k8s:
    build:
      context: ${DEVCONTAINER_PATH:-.}
      dockerfile: k3s.Dockerfile
    entrypoint: /opt/k3s/entrypoint.sh
    command: server
    dns:
    - 127.0.0.11
    - 8.8.8.8
    - 8.8.4.4
    tmpfs:
    - /run
    - /var/run
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
    sysctls:
      "net.ipv4.ip_unprivileged_port_start": 0
      # "fs.inotify.max_user_watches": 524288
      # "fs.inotify.max_user_instances": 512
    privileged: true
    restart: always
    environment:
      K3S_KUBECONFIG_OUTPUT: /kube/config
      K3S_KUBECONFIG_MODE: 644
      K3S_NODE_NAME: k8s
      K3S_CONFIG_FILE: /opt/k3s/conf/cluster.yaml
    volumes:
    - var-k3s:/var/lib/rancher/k3s
    - buildkit:/var/lib/buildkit:z
    - run-k3s:/run/k3s
    - ./.data/kube:/kube
    - ./.data/k8s:/data
    - ${DEVCONTAINER_PATH:-.}/k3s:/opt/k3s:ro
    - ${DEVCONTAINER_PATH:-.}/k3s/manifests/infra:/var/lib/rancher/k3s/server/manifests/infra:ro
    - ${DEVCONTAINER_PATH:-.}/k3s/manifests/ingress:/var/lib/rancher/k3s/server/manifests/ingress:ro
    # ports:
    # - 6443        # Kubernetes API Server
    # - 80:80       # Ingress controller port 80
    # - 443:443     # Ingress controller port 443

volumes:
  kube: {}
  buildkit: {}
  run-k3s: {}
  var-k3s: {}
    
networks:
  default:
    name: "${COMPOSE_PROJECT_NAME}-net"
