
services:
   dev:
    # image: localhost/tao-ce/monolith:latest
    build:
      context: .
      target: devcontainer
    cgroup: host
    use_api_socket: true
    volumes:
    - .:/workspace:cached
    - /sys/fs/cgroup:/sys/fs/cgroup:rw
    - containers:/home/vscode/.local/share/containers:rw
    - tao-ce-opt:/opt/tao-ce:rw
    - tao-ce-lib:/var/lib/tao-ce:rw
    # - type: image
    #   source: tao-ce/payload/construct:latest
    #   target: /opt/tao-ce/construct
    # - type: image
    #   source: tao-ce/payload/deliver:latest
    #   target: /opt/tao-ce/deliver
    # - type: image
    #   source: tao-ce/payload/devkit:latest
    #   target: /opt/tao-ce/devkit
    # - type: image
    #   source: tao-ce/payload/dynamic-query:latest
    #   target: /opt/tao-ce/dynamic-query
    # - type: image
    #   source: tao-ce/payload/datastore:latest
    #   target: /opt/tao-ce/datastore
    # - type: image
    #   source: tao-ce/payload/environment-management:latest
    #   target: /opt/tao-ce/environment-management
    # - type: image
    #   source: tao-ce/payload/hierarchy:latest
    #   target: /opt/tao-ce/hierarchy
    # - type: image
    #   source: tao-ce/payload/portal:latest
    #   target: /opt/tao-ce/portal
    # - type: image
    #   source: tao-ce/payload/task-orchestrator:latest
    #   target: /opt/tao-ce/task-orchestrator
    # - type: image
    #   source: tao-ce/payload/timers:latest
    #   target: /opt/tao-ce/timers
    privileged: true

volumes:
  tao-ce-opt: {}
  tao-ce-lib: {}
  containers: {}

networks:
  default:
    name: "${COMPOSE_PROJECT_NAME}-net"
