apiVersion: batch/v1
kind: Job
metadata:
  name: deliver-init
spec:
  ttlSecondsAfterFinished: 2

  template:
    spec:
      containers:
      - image: service/pubsub-cli
        name: pubsub-topics
        env:
        - name: PUBSUB_PROJECT_ID
          value: demo-tao
        - name: GRPC_ARGS
          value: "-plaintext"
        - name: GRPC_ENDPOINT
          value: "pubsub.deps.internal:8432"
        volumeMounts:
        - name: pubsub-init
          mountPath: /init
        command: 
          - /bin/sh
          - -c
          - |
            sleep 3
            jq -r '[.[].topic]|unique.[]' /init/pairs.json  | while read topic ; do echo topic $topic ; /bin/pubsub-cli topic create $topic ; done
            jq -r '.[]|.topic + " " + .subscription' /init/pairs.json | while read topic sub ; do echo sub $sub on $topic ;  /bin/pubsub-cli subscription create $topic $sub ; done
            exit 0
        resources: {}
      volumes:
      - name: pubsub-init
        configMap:
          name: pubsub-init
      restartPolicy: Never

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: pubsub-init
data:
  pairs.json: |
    [
      {"topic": "interactions", "subscription": "interactions"},
      {"topic": "acs-log", "subscription": "acs-log"},
      {"topic": "acs-log", "subscription": "acs-log-portal"},
      {"topic": "clean-up", "subscription": "clean-up"},
      {"topic": "plagiarism-status", "subscription": "plagiarism-status"},
      {"topic": "datastore", "subscription": "datastore"},
      {"topic": "datastore-delivery-execution-actions", "subscription": "datastore-delivery-execution-actions"},
      {"topic": "closure", "subscription": "closure"},
      {"topic": "ags-initialization", "subscription": "ags-initialization"},
      {"topic": "failures", "subscription": "failures"},
      {"topic": "result-extraction", "subscription": "result-extraction"},
      {"topic": "delivery-results-ds", "subscription": "delivery-results-ds"},
      {"topic": "publication", "subscription": "publication"},
      {"topic": "assessment-log", "subscription": "assessment-log-ds"},
      {"topic": "delivery-topic", "subscription": "deliveries-ds"},
      {"topic": "delivery-execution", "subscription": "delivery-execution-portal"},
      {"topic": "delivery-execution", "subscription": "delivery-execution-ds"},
      {"topic": "grader-manual-results-topic", "subscription": "grader-manual-results-topic"},
      {"topic": "grader-manual-results-topic", "subscription": "grader-manual-results-portal"},
      {"topic": "grader-manual-results-topic", "subscription": "manual-delivery-results-ds"},
      {"topic": "grader-statuses-topic", "subscription": "grader-statuses-portal"},
      {"topic": "ui-events-topic", "subscription": "ui-events-ds"},
      {"topic": "task-orchestrator-topic", "subscription": "task-orchestrator-ds"},
      {"topic": "start-export-csv-topic", "subscription": "start-export-csv-ds"},
      {"topic": "tao-ai-topic", "subscription": "tao-ai-subscription"},
      {"topic": "tenant-api-topic", "subscription": "tenant-api-subscription"},
      {"topic": "tenant-api-construct-topic", "subscription": "tenant-api-construct-subscription"},
      {"topic": "tags-propagation", "subscription": "tags-propagation"},
      {"topic": "proctor-action", "subscription": "proctor-action"},
      {"topic": "lti-events-topic", "subscription": "lti-events-subscription"},
      {"topic": "failed-topic", "subscription": "failed-subscription"},
      {"topic": "activity-logs-topic", "subscription": "activity-logs-ds"},
      {"topic": "metadata-propagation-topic", "subscription": "metadata-propagation-ds"},
      {"topic": "tao-templates-email-topic", "subscription": "tao-templates-email-ds"},
      {"topic": "delivery-language-attachment", "subscription": "delivery-language-attachment"},
      {"topic": "grader-publications-topic", "subscription": "ss-grader-publications-subscription"},
      {"topic": "grader-publications-topic", "subscription": "portal-publications-subscription"},
      {"topic": "grader-publications-topic", "subscription": "publication-datastore-subscription"},
      {"topic": "grader-executions-topic", "subscription": "ss-grader-executions-subscription"},
      {"topic": "grader-responses-topic", "subscription": "hbl-grader-responses-subscription"},
      {"topic": "grader-responses-topic", "subscription": "ms-grader-responses-subscription"},
      {"topic": "grader-deliveries-topic", "subscription": "hbl-grader-deliveries-subscription"},
      {"topic": "grader-deliveries-topic", "subscription": "ms-grader-deliveries-subscription"},
      {"topic": "ms-internal-topic", "subscription": "ms-internal-subscription"},
      {"topic": "ms-failures-topic", "subscription": "ms-failures-subscription"},
      {"topic": "grader-scores-topic", "subscription": "ss-grader-scores-subscription"},

      {"topic": "users-ds", "subscription": "users-ds"},
      {"topic": "users-ds", "subscription": "users-merge-subscription"},
      {"topic": "delivery-language-attachment-succeeded", "subscription": "delivery-language-attachment-succeeded"},
      {"topic": "delivery-language-attachment-failed", "subscription": "delivery-language-attachment-failed"},
      {"topic": "delivery-publication-failed", "subscription": "delivery-publication-failed"},
      {"topic": "session-notification-topic", "subscription": "session-notification-subscription"},
      {"topic": "session-notification-topic", "subscription": "dg-session-notification-subscription"},
      {"topic": "portal-user-events", "subscription": "portal-user-events-subscription"},
      {"topic": "portal-user-events", "subscription": "dg-portal-user-events-subscription"},
      {"topic": "rostering-import-topic", "subscription": "rostering-import-subscription"},
      {"topic": "user-data-sync-topic", "subscription": "user-data-sync-subscription"},
      {"topic": "portal-session-template-notification-topic", "subscription": "portal-session-template-notification-subscription"},
      {"topic": "payment-api-payment-status-update", "subscription": "payment-api-payment-status-update-subscription"}
    ]

---