---
apiVersion: batch/v1
kind: Job
metadata:
  name: deliver-init
spec:
  ttlSecondsAfterFinished: 2

  template:
    spec:
      containers:
      - image: quay.io/tao-ce/service/pubsub/cli
        name: pubsub-topics
        envFrom:
          - secretRef:
              name: tao-ce-setup-pubsub-init
        volumeMounts:
        - name: pubsub-init
          mountPath: /init
        command: 
          - /bin/sh
          - -c
          - |
            sleep 3
            jq -r '[.[].topic]|unique.[]' /init/pairs.json  | while read topic ; do echo topic $topic ; /bin/pubsub-cli topic create $topic ; done
            jq -r '.[]|.topic + " " + .subscription' /init/pairs.json | while read topic sub ; do echo sub $sub on $topic ;  /bin/pubsub-cli subscription create $topic $sub ; done
            exit 0
        resources: {}
      volumes:
      - name: pubsub-init
        secret:
          secretName: tao-ce-setup-pubsub-init-pairs
      restartPolicy: Never
