[Unit]
After=tao-ce.proctoring.init.service

[Service]
Type=simple
ExecStartPre=/bin/sh -c "chmod +x ${TAO_CE_OPT}/proctoring/service"
ExecStart=/bin/sh -c "cd ${TAO_CE_OPT}/proctoring/ && exec ./service"
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/tao-ce/setup/envs/dir.env
EnvironmentFile=/etc/tao-ce/setup/envs/svc.env
EnvironmentFile=/etc/tao-ce/setup/envs/proctoring/forwarder.env
Restart=always
RestartSec=5s

[Install]
WantedBy=tao-ce.target
