[Unit]

[Service]
Type=simple
Environment=NODE_VERSION=22
Environment=PORT=${TAO_CE_SVC_PROCTORING_REALTIMESERVICE_HTTP_PORT}
ExecStart=/bin/sh -c "\
  cd ${TAO_CE_OPT}/proctoring/realtime-service && \
  PORT=${TAO_CE_SVC_PROCTORING_REALTIMESERVICE_HTTP_PORT} \
  exec /usr/local/libexec/nvm/nvm-exec node dist/src/index.js \
"
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/tao-ce/setup/envs/dir.env
EnvironmentFile=/etc/tao-ce/setup/envs/svc.env
EnvironmentFile=/etc/tao-ce/setup/envs/proctoring/realtime-service.env
Restart=always
RestartSec=5s

[Install]
WantedBy=tao-ce.target
