{$TAO_CE_PUBLIC_DOMAIN}:443 {
	@deliver-static path /deliver/sw.js /sw.js /deliver-fe-static/*
	@envoy-endpoints path /deliver/* /backoffice/* /pr-lti-gateway/* /ms-be/* /ss-be/* /portal-be/*
	@portal-bootstrap path /sessions/* /api/* /portal
	@deliver-bootstrap path /deliver-fe /deliver-fe/*
	@proctoring-bootstrap path /proctoring-fe/*
	@proctoring-realtime path /proctoring-realtime/*
	@proctoring-auth-wait-bootstrap path /proctoring-auth-wait/*
	@proctoring-lti1p3-gateway path /proctoring-lti1p3-gateway/*
	@proctoring-auth-wait-api path /proctoring-auth-wait-api/*

	# handle will keep prefix
	handle @deliver-bootstrap {
		uri strip_prefix /deliver-fe
		reverse_proxy {$TAO_CE_SVC_DELIVER_BOOTSTRAP_HTTP_ENDPOINT}
	}

	handle @deliver-static {
		uri strip_prefix /deliver-fe-static
		uri strip_prefix /deliver
		root {$TAO_CE_DIR_OPT}/deliver/static
		header Access-Control-Allow-Origin "https://{$TAO_CE_PUBLIC_DOMAIN}"
		header Access-Control-Allow-Credentials true

		file_server browse
	}

	handle @portal-bootstrap {
		uri strip_prefix /portal
		reverse_proxy {$TAO_CE_SVC_PORTAL_BOOTSTRAP_HTTP_ENDPOINT}
	}

	handle_path /portal-static/* {
		root {$TAO_CE_DIR_OPT}/portal/static
		header Access-Control-Allow-Origin "https://{$TAO_CE_PUBLIC_DOMAIN}"
		header Access-Control-Allow-Credentials true

		file_server browse
	}

	handle @proctoring-bootstrap {
		uri strip_prefix /proctoring-fe
		reverse_proxy {$TAO_CE_SVC_PROCTORING_FRONTEND_BOOTSTRAP_HTTP_ENDPOINT}
	}

	handle_path /proctoring-static/* {
		root {$TAO_CE_DIR_OPT}/proctoring/frontend/static
		header Access-Control-Allow-Origin "https://{$TAO_CE_PUBLIC_DOMAIN}"
		header Access-Control-Allow-Credentials true

		file_server browse
	}

	handle @proctoring-realtime {
		uri strip_prefix /proctoring-realtime
		reverse_proxy {TAO_CE_SVC_PROCTORING_REALTIMESERVICE_HTTP_ENDPOINT}
	}

	handle @proctoring-auth-wait-bootstrap {
		uri strip_prefix /proctoring-auth-wait
		reverse_proxy {TAO_CE_SVC_PROCTORING_FRONTENDAUTHWAIT_BOOTSTRAP_HTTP_ENDPOINT}
	}

	handle @proctoring-auth-wait-api {
		uri strip_prefix /proctoring-auth-wait-api
		reverse_proxy {TAO_CE_SVC_PROCTORING_FRONTENDAUTHWAIT_API_HTTP_ENDPOINT}
	}

	handle @proctoring-lti1p3-gateway {
		uri strip_prefix /proctoring-lti1p3-gateway
		reverse_proxy {TAO_CE_SVC_PROCTORING_LTI1P3GATEWAY_HTTP_ENDPOINT}
	}

	handle_path /proctoring-auth-wait-static/* {
		root {$TAO_CE_DIR_OPT}/proctoring/frontend-auth-wait/static
		header Access-Control-Allow-Origin "https://{$TAO_CE_PUBLIC_DOMAIN}"
		header Access-Control-Allow-Credentials true

		file_server browse
	}

	handle /backoffice/* {
		@locales path /backoffice/tao/views/locales/*
		@views path */views/*

		handle @locales {
			uri strip_prefix /backoffice/tao/views/locales
			root /var/lib/tao-ce/construct/locales
			file_server browse
		}

		handle @views {
			uri strip_prefix /backoffice
			root {$TAO_CE_DIR_OPT}/construct/static
			file_server browse
		}

		handle {
			reverse_proxy {$TAO_CE_SVC_CONSTRUCT_BACKEND_HTTP_ENDPOINT}
		}
	}

	# handle_path will strip prefix
	handle_path /sandbox/* {
		reverse_proxy {$TAO_CE_SVC_DELIVER_SANDBOX_HTTP_ENDPOINT}
	}
	handle_path /portal/* {
		reverse_proxy {$TAO_CE_SVC_PORTAL_BOOTSTRAP_HTTP_ENDPOINT}
	}
	handle_path /devkit/* {
		reverse_proxy {$TAO_CE_SVC_DEVKIT_BACKEND_HTTP_ENDPOINT}
	}
	handle_path /sandbox/* {
		reverse_proxy {$TAO_CE_SVC_SANDBOX_BACKEND_HTTP_ENDPOINT}
	}
	handle_path /devkit-fe/* {
		reverse_proxy {$TAO_CE_SVC_DEVKIT_BOOTSTRAP_HTTP_ENDPOINT}
	}
	handle_path /auth-server/* {
		reverse_proxy {$TAO_CE_SVC_ENVIRONMENT_MANAGEMENT_AUTH_SERVER_HTTP_ENDPOINT}
	}
	handle_path /task-orchestrator/* {
		reverse_proxy {$TAO_CE_SVC_TASK_ORCHESTRATOR_BACKEND_HTTP_ENDPOINT}
	}
	handle_path /task-orchestrator-socket/* {
		reverse_proxy {$TAO_CE_SVC_TASK_ORCHESTRATOR_BACKEND_SOCKET_ENDPOINT}
	}
	handle_path /timers-be/* {
		reverse_proxy {$TAO_CE_SVC_TIMERS_BACKEND_HTTP_ENDPOINT}
	}
	handle_path /timers/* {
		reverse_proxy {$TAO_CE_SVC_TIMERS_BACKEND_SOCKET_ENDPOINT}
	}
	# reverse_proxy will keep prefix
	# reverse_proxy /backoffice/*     {$TAO_CE_SVC_CONSTRUCT_TAO_HTTP_ENDPOINT}
	reverse_proxy @envoy-endpoints {$TAO_CE_SVC_ENVIRONMENT_MANAGEMENT_ENVOY_HTTP_ENDPOINT}

	log {
		output stdout
	}
}
