apiVersion: apps/v1
kind: Deployment
metadata:
  labels: &labels
    tier: sandbox
  name: tao-deliver-sandbox
spec:
  selector:
    matchLabels: *labels
  template:
    metadata:
      labels: *labels
    spec:
      containers:
      - image: tao/deliver/sandbox
        resources: {}
        name: backend
        ports:
        - containerPort: 3000
          protocol: TCP
          name: http
      restartPolicy: Always

---

apiVersion: v1
kind: Service
metadata:
  name: tao-deliver-sandbox
  labels: &labels
    tier: sandbox
spec:
  selector: *labels
  ports:
  - port: 3000
    targetPort: 3000
