apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
 - ../../construct
 - ../../datastore
 - ../../deliver
 - ../../devkit
 - ../../dynamic-query
 - ../../environment-management
 - ../../hierarchy
 - ../../portal
#  - ../../scoring
 - ../../simple-reports
 - ../../task-orchestrator
 - ../../timers
 - ../../setup
 - ./pull-policy.yaml

replacements:
- source:
    kind: ConfigMap
    name: override-pull-policy
    fieldPath: data.imagePullPolicy
  
  targets:
  - &target
    select:
      kind: Job
    options:
      create: true
    fieldPaths:
    - spec.template.spec.containers.*.imagePullPolicy
  - <<: *target
    select:
      kind: CronJob
    fieldPaths:
    - spec.jobTemplate.spec.template.spec.containers.*.imagePullPolicy
  - <<: *target
    select:
      kind: StatefulSet 
  - <<: *target
    select:
      kind: Deployment