[Unit]

[Service]
Type=simple
# ExecStartPre=/bin/sh -c "cd ${TAO_CE_OPT}/environment-management/lti-gateway && exec php bin/console cache:clear"
ExecStart=/bin/sh -c "cd ${TAO_CE_OPT}/environment-management/lti-gateway && exec php -S [::]:${LISTEN_PORT} -t ./public ./router.php"
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/tao-ce/setup/envs/dir.env
EnvironmentFile=/etc/tao-ce/setup/envs/svc.env
EnvironmentFile=/etc/tao-ce/setup/envs/em/lti-gateway.env
Restart=always
RestartSec=5s

[Install]
WantedBy=tao-ce.target