[Unit]

[Service]
Type=simple
ExecStart=/bin/sh -c "cd ${TAO_CE_OPT} && exec /usr/local/bin/envoy -c ${TAO_CE_ETC}/setup/config/em/envoy.yaml --log-level info"
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/tao-ce/setup/envs/dir.env
EnvironmentFile=/etc/tao-ce/setup/envs/svc.env
Restart=always
RestartSec=5s
[Install]
WantedBy=tao-ce.target