[Unit]
After=tao-ce.setup.service
After=tao-ce.scoring.init.service
After=tao-ce.scoring.init.hbl-be.service

[Service]
Type=simple
ExecStartPre=/bin/sh -c "cd ${TAO_CE_OPT}/scoring/hbl && exec php bin/console cache:clear"
ExecStartPre=/bin/sh -c "cd ${TAO_CE_OPT}/scoring/hbl && exec php bin/console messenger:setup-transports"
ExecStart=bash -c " \
  cd ${TAO_CE_OPT}/scoring/ss \
  && exec php -d error_reporting='E_ALL & ~E_DEPRECATED' bin/console messenger:consume -vvv \
  statuses \
  grader-deliveries \
  grader-responses \
  grader-hbl-results \
  failures \
"
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/tao-ce/setup/envs/dir.env
EnvironmentFile=/etc/tao-ce/setup/envs/svc.env
EnvironmentFile=/etc/tao-ce/setup/envs/scoring/hbl.env
Restart=always
RestartSec=5s

[Install]
WantedBy=tao-ce.target
