[Unit]
After=tao-ce.setup.service
After=tao-ce.scoring.init.service

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c "cp ${TAO_CE_OPT}/scoring/router.php ${TAO_CE_OPT}/scoring/ss/"
ExecStartPre=/bin/sh -c "cp ${TAO_CE_OPT}/scoring/router.php ${TAO_CE_OPT}/scoring/ss/public/"
ExecStartPre=/bin/sh -c "cd ${TAO_CE_OPT}/scoring/ss && exec php bin/console cache:clear"
ExecStartPre=/bin/sh -c "cd ${TAO_CE_OPT}/scoring/ss && exec php bin/console messenger:setup-transports"
ExecStart=bash -c " \
cd ${TAO_CE_OPT}/scoring/ss \
&& php bin/console doctrine:database:create --if-not-exists --no-interaction \
&& bin/console doctrine:migrations:migrate --no-interaction \
"
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/tao-ce/setup/envs/dir.env
EnvironmentFile=/etc/tao-ce/setup/envs/svc.env
EnvironmentFile=/etc/tao-ce/setup/envs/scoring/service.env

[Install]
WantedBy=tao-ce.target
